<html>
    <head>
        <title>CVR-API</title>
    </head>
    <body>
        <div>
            <h1>CVR-API (Beta)</h1>
            <p>
                This is a simple API for the CVR-system.
            </p>
            <p>The API is created by <a href="https://noahbohme.com">Noah Böhme</a></p>
            <p>This a a open-source project on <a href="https://github.com/NoahBohme/apicvr.dk">GitHub</a></p> <br>
            <p>Docs here: <a href="https://apicvr.dk/docs">Docs</a></p> <br>
            
        </div> <br>
        <div class="cvrRules">
            <h4>
                Disclaimer:
                Alle brugere i CVR skal overholde reglerne om reklamebeskyttelse.
            </h4>
            <p>
                Virksomheder kan frabede sig reklamehenvendelser. Alle brugere i CVR skal opfylde følgende betingelser:
                    <br>
                    - Ønsket om reklamebeskyttelse vil blive respekteret. <br>
                    - at de oplysninger, der er registeret om en reklamebeskyttet virksomhed eller p-enhed i CVR, ikke må bruges til direkte markedsføring, hvilket indebærer direkte kundekontakt som fx telefonopkald, målrettede postudsendelser m.v. <br>
                    - at modtageren ved videregivelse af oplysninger om beskyttede enheder til tredjemand tydeligt markerer, at virksomheden eller p-enheden er beskyttet. <br>

                <b><i>Ovenstående følger af CVR-lovens bestemmelser, jf. § 19 og § 22.</i></b>
            </p>
        </div>
        <style>
            body{
                background-color: #f5f5f5;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            div.cvrRules{
                display: flex;
                border: 1px solid black;
                padding: 10px;
                margin: 10px;
                margin-right: 50px;
                max-width: 800px;
            }
        </style>
    </body>
</html>
